#dashboard{
    overflow-y: scroll;
    max-height: 100vh;
    padding: 15px;
}

#dashboard .box {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#dashboard .chart-label {
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    color: #444444;
    padding-top: 5px;
}

@media (min-width: 1080px){
    #dashboard .col-lg-6 {
        flex: 0 0 50%!important;
        max-width: 50%!important;
    }
}

@media (max-width: 1079px){
    #dashboard .col-xs-12 {
        flex: 0 0 100%!important;
        max-width: 100%!important;
    }

    #dashboard .pie-chart {
        padding-top: 15px;
    }
    
}


@media (max-width: 1150px){
    .recharts-wrapper{
        font-size: 13px;
    }
}

@media (max-width: 670px){
    .recharts-wrapper{
        font-size: 11px;
    }
}

@media (max-width: 430px){
    .recharts-wrapper{
        font-size: 9px;
    }
}

@media (max-width: 350px){
    .recharts-wrapper{
        font-size: 7px;
    }
}

.bar-container{
    position: relative;
    left: -25px;
}
