.MuiTypography-h6{
    font-size: 1em!important;
    font-weight: normal!important;
}

.MuiAppBar-colorPrimary {
    color: #000!important;
    background-color: #fff!important;
}

.MuiDrawer-paperAnchorDockedLeft {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2), 0px 0px 0px 0px rgba(0,0,0,0.14), 0px 0px 0px 0px rgba(0,0,0,0.12)!important;
    background-color: #152934!important;
    color: #fff!important;
}

.MuiDrawer-paper {
    top: 0;
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    outline: 0;
    z-index: 9!important;
    position: fixed;
    overflow-y: auto;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
}

.MuiAppBar-root {
    z-index: 10!important;
}

#admin .MuiPaper-elevation4 {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2), 0px 0px 0px 0px rgba(0,0,0,0.14), 0px 0px 0px 0px rgba(0,0,0,0.12);
}

#admin .MuiListItem-gutters {
    padding:16px!important ;
}

#admin .list-item {
    border-radius: 7px;
    padding: 8px;
    color: #b8b6de;
}

.list-item svg {
    color: #b8b6de;
}

/* #admin .list-item:hover {
    background-color: #fff;
} */

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

#admin .DashboardHome{
    color: #fff;
    background-color: #00abd8;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 0px #00a9d8b0!important;
}

.dropdown-item{
    font-size:0.9em!important;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.MuiTypography-body1 {
    font-size: 0.9em!important;
}

.MuiListItemIcon-root {
    color: rgba(0, 0, 0, 0.54);
    display: inline-flex;
    min-width: 40px!important;
}

.nav-item-right{
    margin-left:auto; 
    margin-right:0;
}

.notification {
    display: inline-block;
    position: relative;
    padding: 6px;
    background: transparent!important;
    border-radius: 45px;
    font-size: 1.3em;
    box-shadow: none!important;
    cursor: pointer;
}

.notification::after {
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    top: -2px!important;
    right: -8px!important;
    padding: 5px 8px;
    line-height: 100%;
    border: 2px #fff solid;
    border-radius: 60px;
    background: #db3434;
    opacity: 0;
    content: attr(data-count);
    opacity: 0;
    transform: scale(0.5);
    transition: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.notification.show-count::after {
    transform: scale(0.8)!important;
    opacity: 1;
}

#admin .MuiList-padding {
    padding-top: 25px;
    padding-bottom: 8px;
}

.active , .active svg{
    background-color: #fff;
    color: #000!important;
}

#admin .MuiListItemText-root {
    flex: none;
    display: inline;
    
}

#admin .MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: inherit;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}