.MuiTypography-h6{
    font-size: 1em!important;
    font-weight: normal!important;
}

.MuiAppBar-colorPrimary {
    color: #000!important;
    background-color: #fff!important;
}

.MuiDrawer-paperAnchorDockedLeft {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 4px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12)!important;
}

.MuiDrawer-paper {
    top: 0;
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    outline: 0;
    z-index: 9!important;
    position: fixed;
    overflow-y: auto;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
}

.MuiAppBar-root {
    z-index: 10!important;

}

#admin .MuiPaper-elevation4 {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 4px 4px 5px 0px rgba(0,0,0,0.14), 10px 1px 10px 0px rgba(0,0,0,0.12);
}

#admin .MuiListItem-gutters {
    padding-left: 8px!important; 
    padding-right: 8px!important;
}

#admin .list-item:hover {
    background-color: lightgray;
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

#admin .DashboardHome{
    color: #fff;
    background-color: #00abd8;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 0px #00a9d8b0!important;
}

.dropdown-item{
    font-size:0.9em!important;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.MuiTypography-body1 {
    font-size: 0.9em!important;
}

.MuiListItemIcon-root {
    color: rgba(0, 0, 0, 0.54);
    display: inline-flex;
    min-width: 40px!important;
}

.nav-item-right{
    margin-left:auto; 
    margin-right:0;
}

.notification {
    display: inline-block;
    position: relative;
    padding: 6px;
    background: transparent!important;
    border-radius: 45px;
    font-size: 1.3em;
    box-shadow: none!important;
    cursor: pointer;
}