#manage-project-users{
    padding-top: 40px;
    padding-left: 24px;
    overflow: auto;
    max-height: 100vh;
    padding-bottom: 70px;
}


#manage-project-users .btn-primary {
    color: #fff;
    background-color: #00abd8;
    border-color: #00abd8;
}

#manage-project-users .btn {
    font-weight: 400;
    padding: .60rem 1.3rem;
    font-size: 0.9em;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#manage-project-users .header-1{
    margin-left: 25px;
    margin-right: 49px;
    margin-top: 15px;
    height: 90px;
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    z-index: 2;
    position: relative;
}

#manage-project-users .header-1-text{
    padding-left: 10px;
    padding-top:30px;
    vertical-align:middle;
}

#manage-project-users .header-1-p{
    vertical-align:middle;
    margin-bottom:0;
    margin-left: 30px;
    color: #fff;
    font-weight: 300;
}

#manage-project-users .box-1{
    padding-top: 100px;
    padding-bottom: 30px;
    max-width: 100vw;
    background-color: #fff;
    margin-left: 10px;
    margin-right: 34px;
    margin-top: -75px;
    margin-bottom: 50px;
    border-radius: 5px; 
}

#manage-project-users .box-1 .box-inner{
   margin-left: 15px;
   margin-right: 15px;
}

#manage-project-users .table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
    border-top: none;
}

#manage-project-users .th-header-1{
    width: 300px;
    color: #9e9e9e;
}
#manage-project-users .th-header-2{
    width: 250px;
    color: #9e9e9e;
}

#manage-project-users .th-header-3{
    width: 250px;
    color: #9e9e9e;
}

#manage-project-users .th-header-4{
    width: 250px;
    color: #9e9e9e;
}

#manage-project-users .td-3{
    width: 200px;
}

#manage-project-users .table-items{
    border-bottom: #dee2e6 1px solid;
}

#manage-project-users .box-shadow {
    -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.04);
    -moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.04);
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.04);
}

@media (max-width: 1199px){
    #manage-project-users .box-1{
        margin-left: 0;
        margin-right:0;
    }
    #manage-project-users{
        padding-left: 10px;
        padding-right: 10px;
    }
    #manage-project-users td , #manage-project-users th{
        padding-left: 0;
        padding-right: 0;
    }
}